%h1 New coin form

#new-coin
  %form.form-horizontal{:id => 'new-coin', :onsubmit => 'return false;'}
    .control-group
      %label.control-label
        Year
      .controls
        %input{:placeholder => "xxxx"}