:javascript

  function createCoin() {
    new_coin = {}
    new_coin.year = $('#year').val();
    new_coin.face_value = $('#face_value').val();
    
    $.ajax({url : 'coin/new',
            data : new_coin,
            dataType : 'json',
            success : function(data) {
              window.location = '/'
            }  
    });
  }
  
  $(function() {
     var availableTags = ["Philadelphia", "Denver", "San Francisco", "West Point", "Fort Knox"];
     $("#mint-loc").autocomplete({
       source: availableTags,
       delay: 0,
       autoFocus: true,
     });
   })

  
  $(function() {
    $('#submit-new-coin').click(createCoin);
  })
  
  
%h1 New coin form

#new-coin
  %form.form-horizontal{:id => 'new-coin', :onsubmit => 'return false;'}
    .control-group
      %lable.control-label
        Coin (facevalue)
      .controls
        %input{:placeholder => "penny, nickel, dime, ..."}
    .control-group
      %label.control-label
        Year
      .controls
        %input{:placeholder => "xxxx", :id => "year"}
    .control-group
      %label.control-label
        Mint Location
      .controls
        %input#mint-loc{:placeholder => "Philadelphia, Denver, San Francisco, ..."}
    
    .control-group
      .controls
        %input.btn.btn-primary#submit-new-coin{:type => 'submit', :value => 'Submit Coin'}